<a href="https://colab.research.google.com/github/Tunyakarn/data_viz/blob/main/Pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import os 

path = '/content/drive/My Drive/dataviz_2021_data'

In [6]:
covid_file_path = os.path.join(path, 'pm-18-jan-20211.csv')
print(covid_file_path)

/content/drive/My Drive/dataviz_2021_data/pm-18-jan-20211.csv

In [7]:
a = path + '/pm-18-jan-20211.csv'
print(a)

/content/drive/My Drive/dataviz_2021_data/pm-18-jan-20211.csv

In [16]:
data_covid = pd.read_csv(covid_file_path)
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1       1/12/20  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

## .isnull()?? None??

In [11]:
data_covid.isnull()

         No.  announce_date  ...  district_of_onset   risk
0      False          False  ...               True  False
1      False          False  ...               True  False
2      False          False  ...              False  False
3      False          False  ...               True  False
4      False          False  ...               True  False
...      ...            ...  ...                ...    ...
12418  False          False  ...              False  False
12419  False          False  ...              False  False
12420  False          False  ...              False  False
12421  False          False  ...              False  False
12422  False          False  ...              False  False

[12423 rows x 10 columns]

.any() เอาค่าความจริงมาภายในแต่ละ column มา ```OR``` กัน

In [9]:
data_covid.isnull().any()

No.                      False
announce_date            False
notification_date         True
sex                       True
age                       True
nationality               True
province_of_isolation     True
province_of_onset         True
district_of_onset         True
risk                      True
dtype: bool

.all() เอาค่าความจริงภายในแต่ละ column มา ```AND``` กัน

In [10]:
data_covid.isnull().all()

No.                      False
announce_date            False
notification_date        False
sex                      False
age                      False
nationality              False
province_of_isolation    False
province_of_onset        False
district_of_onset        False
risk                     False
dtype: bool

In [12]:
data_covid.iloc[0,0].isnull()

AttributeError: ignored

In [13]:
data_covid['No.'][0].isnull()

AttributeError: ignored

In [14]:
data_covid.iloc[0,0]

1

In [15]:
data_covid.iloc[:1,0].isnull()

0    False
Name: No., dtype: bool

## HW7 สร้างตารางใหม่ที่ค่าใน ```sex``` เป็น missing ทั้งหมด
- สรุปว่าทำไม record นั้นๆถึงเป็น missing

## ต่อตารางแกน x แกน y

* ต่อแกน y คือ เพิ่ม records (เพิ่มจำนวนข้อมูล)
* ต่อแกน x คือ เพิ่ม column (เพิ่มรายละเอียดของข้อมูล)

## ต่อแกน y ด้วยคำสั่ง pd.concat()

In [ ]:
data_covid

In [19]:
dataKK = data_covid[data_covid['province_of_onset']=='ขอนแก่น']
dataKK.head()

       No.  ...                                           risk
180    181  ...                                        สนามมวย
462    463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970  1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ

[5 rows x 10 columns]

In [21]:
dataUD = data_covid[data_covid['province_of_onset']=='อุดรธานี']
dataUD.head()

     No.  ...                                         risk
424  425  ...                                      สนามมวย
434  435  ...                                  สถานบันเทิง
471  472  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
883  884  ...                                  สถานบันเทิง
885  886  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[5 rows x 10 columns]

In [22]:
dataMS = data_covid[data_covid['province_of_onset']=='มหาสารคาม']
dataMS.head()

         No.  ...                                         risk
346      347  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
789      790  ...                                  สถานบันเทิง
6690    6691  ...                            Cluster สมุทรสาคร
10802  10803  ...                            Cluster สมุทรสาคร

[4 rows x 10 columns]

In [23]:
dataMYisan = pd.concat([dataKK,dataUD,dataMS])
dataMYisan

         No.  ...                                         risk
424      425  ...                                      สนามมวย
434      435  ...                                  สถานบันเทิง
471      472  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
883      884  ...                                  สถานบันเทิง
885      886  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
941      942  ...                                  สถานบันเทิง
1059    1060  ...                คนไทยเดินทางกลับจากต่างประเทศ
2013    2014  ...                คนไทยเดินทางกลับจากต่างประเทศ
5810    5811  ...                            Cluster สมุทรสาคร
7433    7434  ...                                Cluster ระยอง
424      425  ...                                      สนามมวย
434      435  ...                                  สถานบันเทิง
471      472  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
883      884  ...                                  สถานบันเทิง
885      886  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
941      942  ...                                  สถานบันเทิง
1059    1060  ...                คนไทยเดินทางกลับจากต่างประเทศ
2013    2014  ...                คนไทยเดินทางกลับจากต่างประเทศ
5810    5811  ...                            Cluster สมุทรสาคร
7433    7434  ...                                Cluster ระยอง
346      347  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
789      790  ...                                  สถานบันเทิง
6690    6691  ...                            Cluster สมุทรสาคร
10802  10803  ...                            Cluster สมุทรสาคร

[24 rows x 10 columns]

## ต่อแกน x 

* จับ 2 ตารางมาต่อกันเลย (merge)
* เลือกมาเพิ่มเฉพาะบาง column

In [24]:
data_province = data_covid[['No.','announce_date','province_of_onset']]
data_province

         No. announce_date province_of_onset
0          1       1/12/20     กรุงเทพมหานคร
1          2     1/17/2020     กรุงเทพมหานคร
2          3     1/22/2020            นครปฐม
3          4     1/22/2020     กรุงเทพมหานคร
4          5     1/24/2020     กรุงเทพมหานคร
...      ...           ...               ...
12418  12419     1/18/2021       สมุทรปราการ
12419  12420     1/18/2021       สมุทรปราการ
12420  12421     1/18/2021            ชลบุรี
12421  12422     1/18/2021            ชลบุรี
12422  12423     1/18/2021             ระยอง

[12423 rows x 3 columns]

In [25]:
data_human = data_covid[['No.','age','sex','nationality']]
data_human

         No.   age   sex nationality
0          1  61.0  หญิง       China
1          2  74.0  หญิง       China
2          3  73.0  หญิง    Thailand
3          4  68.0   ชาย       China
4          5  66.0  หญิง       China
...      ...   ...   ...         ...
12418  12419  28.0  หญิง    Thailand
12419  12420  27.0  หญิง    Thailand
12420  12421  10.0   ชาย    Thailand
12421  12422  52.0   ชาย    Thailand
12422  12423  51.0   ชาย    Thailand

[12423 rows x 4 columns]

# แบบง่ายรู้ว่า 2 ตาราง record ตรงกัน

In [26]:
full_table = data_human.merge(data_province)
full_table.head()

   No.   age   sex nationality announce_date province_of_onset
0    1  61.0  หญิง       China       1/12/20     กรุงเทพมหานคร
1    2  74.0  หญิง       China     1/17/2020     กรุงเทพมหานคร
2    3  73.0  หญิง    Thailand     1/22/2020            นครปฐม
3    4  68.0   ชาย       China     1/22/2020     กรุงเทพมหานคร
4    5  66.0  หญิง       China     1/24/2020     กรุงเทพมหานคร

## sort

In [27]:
data_human2 = data_human.sort_values('age')
data_human2

         No.  age   sex nationality
6477    6478  0.0  หญิง    Thailand
1987    1988  0.0   ชาย    Thailand
1675    1676  0.0   ชาย       Japan
1075    1076  0.0   ชาย    Thailand
300      301  0.0   ชาย    Thailand
...      ...  ...   ...         ...
12405  12406  NaN   NaN         NaN
12406  12407  NaN   NaN         NaN
12407  12408  NaN   NaN         NaN
12408  12409  NaN   NaN         NaN
12409  12410  NaN   NaN         NaN

[12423 rows x 4 columns]

In [28]:
full_table2 = data_human2.merge(data_province)
full_table2.head()

    No.  age   sex nationality announce_date province_of_onset
0  6478  0.0  หญิง    Thailand    12/30/2020          เพชรบุรี
1  1988  0.0   ชาย    Thailand        4/4/20             ระยอง
2  1676  0.0   ชาย       Japan        4/1/20     กรุงเทพมหานคร
3  1076  0.0   ชาย    Thailand     3/27/2020      สุราษฎร์ธานี
4   301  0.0   ชาย    Thailand     3/20/2020            ภูเก็ต

In [31]:
data_human2_renamed = data_human2.rename(column={'No.':'patientNumber'})
data_human2_renamed.head()

TypeError: ignored

In [30]:
data_human2_renamed.merge(data_province) #error เพราะชื่อ column ของทั้ง 2 อันไม่ตรงกัน

NameError: ignored

In [ ]:
full_table3 = data_human2_renamed.merge(data_province,left_on)

## map() เลือกมาเฉพาะบาง column มาแปะเพิ่มเข้าไป

คุณสมบัติของ pandas ก็คือเราสามารถสร้าง column ใหม่ให้ตาราง df ได้โดย 

df['ชื่อ column ใหม่'] = (list ที่มีจำนวนสมาชิกเท่ากับจำนวน record ของ df) #dfคือชื่อตาราง