<a href="https://colab.research.google.com/github/Tunyakarn/data_viz/blob/main/Quiz5(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
import os
from datetime import datetime as dt

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
import os 

path = '/content/drive/My Drive'

In [9]:
file_path = os.path.join(path, 'search_request.csv')
print(file_path)

/content/drive/My Drive/search_request.csv

In [21]:
data_file = pd.read_csv(file_path)
data_file.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88

[5 rows x 10 columns]

In [18]:
data_file.iloc[0,2]

'34:35.4'

In [ ]:
top_table = data_file.iloc

In [ ]:
top_table['search_timestamp_v2'] = pd.to_datetime(top_table['search_timestamp'], format='%Y-%m-%d %H:%M:%S')
top_table.head()

In [ ]:
top_table.iloc[0,-1]

In [ ]:
top_table.iloc[0,-1].day

In [ ]:
top_table.iloc[0,-1].month

In [ ]:
top_table.iloc[0,-1].year

In [ ]:
top_table.iloc[0,-1].dayofweek

In [ ]:
data_file['search_timestamp']