<a href="https://colab.research.google.com/github/Tunyakarn/data_viz/blob/main/Quiz5(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import os
from datetime import datetime as dt

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
import os 

path = '/content/drive/My Drive'

In [9]:
file_path = os.path.join(path, 'search_request.csv')
print(file_path)

/content/drive/My Drive/search_request.csv

In [11]:
data_file = pd.read_csv(file_path)
data_file

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         Unnamed: 0  ...         long
0                 0  ...      101.463
1                 1  ...      102.534
2                 2  ...      100.371
3                 3  ...      101.861
4                 4  ...        99.88
...             ...  ...          ...
1048570     1048590  ...  100.5736735
1048571     1048591  ...  100.5013571
1048572     1048592  ...   100.118836
1048573     1048593  ...  99.31427877
1048574     1048594  ...  100.4590681

[1048575 rows x 10 columns]

In [16]:
data_file.columns = [i.strftime('%Y-%m-%d') if isinstance(i,datetime) else i for i in data_file.columns]
data_file

         Unnamed: 0  ...         long
0                 0  ...      101.463
1                 1  ...      102.534
2                 2  ...      100.371
3                 3  ...      101.861
4                 4  ...        99.88
...             ...  ...          ...
1048570     1048590  ...  100.5736735
1048571     1048591  ...  100.5013571
1048572     1048592  ...   100.118836
1048573     1048593  ...  99.31427877
1048574     1048594  ...  100.4590681

[1048575 rows x 10 columns]